.header-nav {
    padding-top: 33px;
    padding-bottom: 40px;


    &__menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        li {
            .link {
                font-weight: 300;
                line-height: 100%;
                letter-spacing: 0%;
                color: black;

            }

            .link:hover {
                color: #0071E4;
                padding-top: 2px;
                border-bottom: 1px solid;
            }

        }

        .linkThere {
            width: 87px;
            height: 24px;
            display: flex;
            align-items: center;
            gap: 4px;
            background: #FDEFBF;
            padding: 4px;
            border-radius: 12px;

            .linkk {
                color: black;
                border-bottom: none;
            }

            :hover {
                color: #dbae1a;
            }

        }



        .tel__content {
            display: flex;
            flex-direction: column;
            padding-top: 15px;

            :first-child {
                display: flex;
                align-items: center;
                gap: 4px;
                font-size: 18px;
            }

            &__twoContent {

                margin-left: 24px;
                padding-left: 28px;
                font-weight: 400;
                font-size: 13px;
                line-height: 100%;
                letter-spacing: 0%;
                color: #0071E4;

            }

        }
    }
}