.home{
    display: flex;
    flex-direction: column;
    justify-content: start;
    .Iphon-card {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        align-items: center;
        gap: 24px;
    }
}
