.header-top {
    padding: 10px;
    background: #F9F9F9;


    &__content {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;



    }


    &__left {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__right {
        gap: 8px;
        display: flex;
        align-items: center;

    }
}